

.position-sticky th {
  background-color: #415a77;
  z-index: 1;
}
i {
  cursor: pointer;
}
.container {
  height:90vh;
  width:80vw;
  background-color: #e0e1dd
}
.custom-tbody tr{
  background-color: #415a77;
}
/* .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:90vh;
  width:80vw;
  background-color: #e0e1dd
}
.centered {

} */

