

.position-sticky th {
  background-color: #2a9d8f;
  z-index: 1;
}

.container {
  height:90vh;
  width:80vw;
  background-color: #f4a261;
  margin-top:1rem;
}
.custom-tbody tr{
  background-color: #2a9d8f;
}

